/* PageLayout.css */

.page-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 0 2em;
  }
  
  .page-hero h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  
  .page-hero h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }
  
  .page-content {
    padding: 2em;
  }
  
  @media (min-width: 800px) {
    .page-hero h1 {
      font-size: 3rem;
    }
  
    .page-hero h3 {
      font-size: 1rem;
    }
  }
  